.po_items_ho {
    column-width: 15em;
    -moz-column-width: 15em;
    -webkit-column-width: 15em;
    column-gap: 4rem;
    -moz-column-gap: 4rem;
    -webkit-column-gap: 4rem;
}

.po_item {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0.5rem auto;
    position: relative;
    background: transparent;
    padding: 6px;
    border: 1px solid var(--secondary-color);
    transition: 0.3s ease;
    font-size: 0;
    min-height: 300px;
    overflow: hidden;
}

.po_item img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove bottom whitespace */
    object-fit: cover; /* Cover the container while maintaining aspect ratio */
}

.po_item .content {
    position: absolute;
    height: 0;
    width: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--overlay-color);
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: 0.3s ease-in-out;
    opacity: 0;
    border: 1px solid black;
}

.po_item .content {
    opacity: 0;
    transition-delay: 1s;
    transition: 0.3s ease;
    font-size: 20px;
}

.po_item:hover {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.po_item:hover .content {
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    opacity: 1;
}

.po_item:hover .content {
    opacity: 1;
    color: var(--secondary-color);
}

.po_item .content a {
    background: var(--bg-color);
    border: solid 1px var(--text-color);
    padding: 4px 8px;
    text-align: center;
    font-size: 1rem;
}

.po_item .content a:hover {
    text-decoration: none;
}

.project-img {
    max-width: 100%; 
    height: auto; 
    width: 300px;    
    border-radius: 10px; 
  }
  
  .frame-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px; /* Space between the two images */
  }

  .fancy-button {
    position: relative;
    background-color: #262626; /* Neutral-800 */
    height: 4rem; /* 16px * 4 = 64px */
    width: 16rem; /* 64px * 4 */
    border: 1px solid transparent;
    text-align: left;
    padding: 0.75rem;
    color: #f9fafb; /* Gray-50 */
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem; /* Rounded-lg */
    overflow: hidden;
    transition: all 0.5s ease;
  }
  
  .fancy-button::before,
  .fancy-button::after {
    content: '';
    position: absolute;
    z-index: 10;
    border-radius: 50%;
    filter: blur(8px);
    transition: all 0.5s ease;
  }
  
  .fancy-button::before {
    width: 3rem; /* 12px * 4 = 48px */
    height: 3rem;
    top: 0.25rem; /* 1px */
    right: 0.25rem;
    background-color: #8b5cf6; /* Violet-500 */
  }
  
  .fancy-button::after {
    width: 5rem; /* 20px * 4 = 80px */
    height: 5rem;
    top: 0.75rem; /* 3px */
    right: 2rem; /* 8px */
    background-color: #f43f5e; /* Rose-300 */
  }
  
  .fancy-button:hover {
    border-color: #f43f5e; /* Rose-300 */
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #f43f5e;
    transition: all 0.5s ease;
  }
  
  .fancy-button:hover::before {
    right: 3rem; /* Shift right */
    bottom: -2rem; /* Shift down */
    box-shadow: 20px 20px 30px #a21caf;
  }
  
  .fancy-button:hover::after {
    right: -2rem;
  }
  
  